header {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) , url(https://assets.nflxext.com/ffe/siteui/vlv3/bff5732c-7d13-45d1-9fab-476db25a1827/46bc87cd-4c4c-4485-8b93-d5f21c581d56/IN-en-20230710-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 700px;
}

img {
    height: 90px;
    width: auto;
    margin-right: 800px;
    margin-left: 100px;
}

select {
    background-color: black;
    color: aliceblue;
}

.firstline {
    display: inline-block;
}

.flex1 {
    display: flex;
    
}

/* #signin {
    margin-left: 20px;
} */

h1 {
    text-align: center;
    color: aliceblue;
    font-weight: 900 ;
    font-size: 48px;
}

.CenterText {
    margin-top: 200px;
    margin-bottom: 120px;
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p1 {
    margin-top: 16px;
    color: aliceblue;
    font-weight: 400 ;
    font-size:24px;
}

.form {
    margin-top: 24px;
}

h3 {
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}
input {
    background-color: black ;
    color: aliceblue ;
    width: 384px ;
    height: 56px ;
    border: 1px solid #71767c;
}

.start {
    margin-left: 8px;
    height: 56px !important;
}

button {
    color: aliceblue;
    background-color: red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 24px;
}

.line {
    height: 10px;
    background-color: #686464;
}

.card1 {
    display: inline-block;

}

.card-image {
    margin: 0%;
    display: inline;
}

.main {
    background-color: black;
}

.background {
    background-color: orange;
}

h2 {
    font-weight: 900;
    font-size: 48px;
    color:azure;
}

p3 {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 400;
}