body, html{
    height: 100%;
    background: #222222;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    margin: 40px auto;
    height: auto;
    padding: 20px;
    width: 500px;
}

.alert {
    text-align: center;
}

#h2container {
    color: #AAAAAA;
}

div.alert {
    background-color: rgb(21, 244, 189);
}

li {
    border: 2px dashed darkred;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    width: 20%;
    color: #AAAAAA;
}